
body {
  width: 1440px;
  height: 1024px;
}

#header{
  line-height: 198px;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  background-color: #6CADFF;
  width:1440px;
  /*
width:100%
  */
  font-family: "Open Sans";
  height: 198px;
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 7.69px;
}

#headerPic{
  position: relative;
  top: 15px;
  padding-right: 15px;
    /*

  top: 6px;
  margin-left: -50px;
  padding-right: 0.3em;
    */
}
#myform{
  position: absolute;
  width: 776px;
  top:528px;
  left:330px;

}
#input{
  width: 700px;
  height:24px;
  font-family: OpenSans;
  font-size: 24px;
  color: #FFFFFF;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid white;
}
/*
.temp::-webkit-input-placeholder {
  font-family: OpenSans;
  font-size: 24px;
  color: #FFFFFF;
}
*/

#input.grey-placeholder::-webkit-input-placeholder {
  font-family: OpenSans;
  font-size: 24px;
  color: #D9D9D9;
}
#input.white-placeholder::-webkit-input-placeholder {
  font-family: OpenSans;
  font-size: 24px;
  color: #FFFFFF;
}

.temp{
}
.temp::-webkit-input-placeholder {
      color: #b2cde0;
  }


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white;     /* code to remove yellow colour in text box in chrome*/
}

#startButton{
  height: 56px;
  width: 56px;
}
/* take care of 20px gap btw imput and start*/
#box {
  position:relative;
  width: 818px;
  top: 398px;
  left: 311px;
/*  margin: auto;*/
}

*[id^='task']{      /* id of all the tasks div*/

  background: #FFFFFF;
  border: 1px solid #E7E7E7;
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.05);
  width: 100%;
  height:144px;

  vertical-align: middle;
  line-height: 144px;

  /*
  background-color: #F5F5F5;
  height: 50px;
  width: 340px;
  padding: 5px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  */
}

*[id^='name']{
  position: relative;
  left:19px;
  font-family: OpenSans;
  font-size: 24px;
  color: #888888;

}

.time{
  position: absolute;
  right:178px;
  font-family: OpenSans;
  font-size: 24px;
  color: #D9D9D9;
}

*[id^='buttons']{
  position:relative;
  float: right;
  left:-20px;
}

#playPause{
  width:56px;
  height:56px;
  position: relative;
  padding-right:28px;
  top:22px;

}

#finish{
  width:56px;
  height:56px;
  position: relative;
  top:22px;

}
#footer{
  position:relative;
}
#info{
  position:absolute;
  bottom: -70px;
  width: 298px;
  text-align: center;
  left:260px;
  font-family: OpenSans;
  font-size: 16px;
  color: #D9D9D9;
}

.tick{
  color: #8EF377
}

  /*
  transform: rotate(42deg);
  background: #8EF377;
#playPause{

  position: relative;
  left:660px;
  top: 0px;
  width:56px;
  height:56px;
  vertical-align: middle;

  top: 7px;
}

#finish{
  width:30px;
  height:30px;
  padding-left: 0.4em;
  position: relative;
  top: 7px;
}
*/

button {
  background-color: Transparent;
}
